# Credenciais de E-mail (Gmail)
# Gere a Senha de App em: https://myaccount.google.com/apppasswords
GMAIL_USER=seu-email@gmail.com
GMAIL_PASS=sua-senha-de-app-aqui

# Configurações do App
PORT=3001
FRONTEND_URL=http://localhost:5173
# FIREBASE_SERVICE_ACCOUNT=(O código já está configurado para ler serviceAccountKey.json se existir)
